.zoom-image {
  overflow: hidden;
}

.zoom-image-image {
  transition: transform .2s;
  width: 100%;
  height: 100%;
}

.zoom-image-image:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
