.embossed-heading {
  margin-bottom: 80px;
}

.embossed-heading-letter {
  font-family: "Cormorant Garamond";
  font-size: 600px;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  height: 100px;
  padding-top: 100px;
  line-height: 0.1px;
  color: #f0f0f0;
  text-transform: lowercase;
}

.embossed-heading-text {
  font-style: italic;
  line-height: 40px;
  font-weight: 200;
  margin-bottom: 0;
  text-align: left;
  font-family: "Cormorant Garamond";
  color: #3e3e3e;
  font-size: 40px;
  margin: 0 0 20px;
  padding: 0;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 140px 0px 0px 0px;
}
